#favouriteContainer {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#favouriteContainer .row,
#favHeader>h1{
	margin: 0px;
}

#favListContainer {
	display: block;
	list-style-type: none;
	margin-top: 10px;
}

#favText {
	font-size: 16px;
	cursor: pointer;
}

#favText:focus, 
#favText:hover,
#favText:active {
	color: #E3B57C;
}

#favList {
	width: 90%;
	float: left;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
}

#favListDelete{
	margin-left: 15px;
	margin-right: 10px;
	float: right;
	cursor: pointer;
	color: #DD2222;
}

#minusSign {
	line-height: 1px;
}